/* Color Theme Swatches in Hex */
.color1 {
  color: #a6444c;
}
.color2 {
  color: #8c654f;
}
.color3 {
  color: #f2d8ce;
}
.color4 {
  color: #d9d9d9;
}
.color5 {
  color: #bfbfbf;
}
.fondo_nav {
  background-color: #f2d8ce;
  padding: 12px;
  display: block;
  text-decoration: none;
  color: #8c654f;
}
.fondo_nav a:hover {
  background-color: #a6444c;
  color: #bfbfbf;
}
.fondo1 {
    background-color: #f2d8ce;
    font-family: "Londrina Solid", cursive;
    font-size: 150%;
  }
  .fondo2 {
    background-color: #f2d8ce;
    font-family: "Londrina Solid", cursive;
  }
.img{
    height: 100px;
    width: 100px;
}
h1
{
    font-family: 'Pacifico', cursive;
    color: #a6444c;
    font-size: 500%;
}
h2
{
    font-family: 'Pacifico', cursive;
    color: #a6444c;
    font-size: 400%;
}
h3
{
    font-family: 'Pacifico', cursive;
    color: #8c654f;
    font-size: 300%;
}
h4
{
    font-family: 'Pacifico', cursive;
    color: #8c654f;
    font-size: 200%;
}
p
{
    font-family: 'Montserrat Alternates', sans-serif;
}
.letra
{
    color: #a6444c;
    font-family: "Londrina Solid", cursive;
    font-size: 90%;
}
.letra2{
    color: #8c654f;
}
.letra3{
    color: #a6444c;
}
.img2{
    height: 750px;
}
.social-icons {
    width: 50px;
  }
  section
  {
    height: 780px;
  }
ul{
    font-family: 'Montserrat Alternates', sans-serif;
}